@import '../../index.scss';
.login-container {
  line-height: 10rem;
  .email {
    padding: 1rem;
    width: 80% !important;
  }
  .material-icons {
    margin-left: 1rem;
    font-size: 2.5rem;
    color: $primary-color;
  }
}
