.bgFix {
  background-color: #123654;
  height: 100vh;
}

.taskiaLogo {
  display: block;
  margin: auto;
  width: 80%;
}

.container {
  position: relative;
  top: 15%;
}

form {
  width: 65%;
  margin: 0 auto;
  .inputField {
    border-radius: 10px;
    margin: 2rem auto;
  }
}

div {
  display: flex;
  width: 100%;
  justify-content: center;
  h5 {
    margin-top: 2rem;
  }
}
