@import '../../index.scss';

.sidebar-container {
  width: 80%;
  height: 100vh;
  box-shadow: 12px 0 15px -4px rgba(31, 73, 125, 0.8);
}

.sidebar-top-bar {
  height: 4rem;
  font-size: 2rem;
  background-color: $mainColor;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}

.sidebar-avatar {
  width: 3rem;
}

.sidebar-options {
  font-size: 2rem;
  margin: 2rem;
}

.sidebar-folder-icon {
  margin-right: 0.5rem;
}

.sidebar-chevron-down-icon {
  margin-left: 0.5rem;
}

.sidebar-options-list {
  margin: 0.5rem 2rem;
  list-style: none;
  line-height: 70px;
}
.sidebar-share {
  font-size: 1.5rem;
}
.sidebar-share-icon {
  margin-right: 0.5rem;
}

.sidebar-project-circle {
  font-size: 1rem;
  vertical-align: middle;
  color: yellowgreen;
  margin-right: 0.5rem;
}
