.main {
  width: 100%;
  background: #096366;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 4rem;
  width: 80%;
  font-size: 2rem;
  font-weight: bold;
  color: white;
}
