.bgFix {
  background-color: #123654;
  height: 100vh;
}

.taskiaLogo {
  display: block;
  margin: auto;
  width: 81%;
}

.spinnerFix {
  display: block;
  margin: 3rem auto;
}

.container {
  position: relative;
  top: 38%;
}
